*{
    margin: 0;
    padding: 0
}
.navbar{
  
   font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 49, 244);
    color: white;
   
}
h3{
    margin-left: 50px;
}

ul {
    display: flex;
    margin-left: 10px;
    margin-right: 50px;
}

ul li{
    list-style: none;
    padding: 20px;
    &:hover{
        background-color: aquamarine;
        cursor: pointer;
        color: black;
    }
}